@import "colors";
@import "media-queries";

%align-center{
    display: flex;
    align-items: center;
}
.navbar{
    height: 80px;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem calc((100vw - 1200px)/2);
    position: relative;
    z-index: 10;
    background-color: $light;
    @extend %align-center;  

    &-logo {
        font-size: 2rem;
        text-decoration: none;
        color: $dark;
        margin-left: 24px;
        cursor: pointer;          
    }
    &-bars{
        opacity: 0;

        @include tablet{
            color: dark;
            opacity: 1;
            font-size: 2rem;
            position: absolute;
            top: 24px;
            right: 20px;
        }
    }

    &-menu{
        display: flex;
        text-align: center;
        margin-right: 24px;
        list-style: none;
        @include tablet{
            position: absolute;
            flex-direction: column;
            top: 80px;
            height: 0;
            overflow: hidden;
            width: 100%;
            background-color: $light;
            text-align: center;
            z-index: -1;

            & li{
                padding-top: 2rem;
            }
        }
        &-links {
            text-decoration: none;
            color: $dark;
            margin: 0 1rem;

            &:hover{
                color: lime;
                transition: all 0.3s ease-in-out;
            }
        }
        #button{
            padding: 12px 24px;
            background-color: $lime;
            margin-left: 16px;
            border-radius: 4px;
            color: $light;
            &:hover{
                background-color: $orangeRed;
                transition: all 0.3s ease;
            }
        }
    }
}

// Toggle Classes
.show {
    @include tablet{
        height: 15rem;
        transition: all 0.8s ease-in;
    }    
}
.move-down{
    margin-bottom: 15rem;
}