@import "colors";
@import "media-queries";

%align-center{
    display: flex;
    align-items: center;
}
.navbar{
    background:$light;
    height: 80px;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem calc((100vw - 1200px)/2);
    position: relative;
    z-index: 10;
    @extend %align-center;  

    &-logo {
        font-size: 2rem;
        text-decoration: none;
        color: $dark;
        margin-left: 24px;
        cursor: pointer;          
    }
    &-bars{
        opacity: 0;

        @include tablet{
            color: dark;
            opacity: 1;
            font-size: 2rem;
            position: absolute;
            top: 24px;
            right: 20px;
        }
    }

    &-menu{
        display: flex;
        text-align: center;
        margin-right: 24px;
        @include tablet{
            display: none;
        }
        &-links {
            text-decoration: none;
            color: $dark;
            margin: 0 1rem;

            &:hover{
                color: lime;
                transition: all 0.3s ease;
            }
        }
        #button{
            padding: 12px 24px;
            background-color: $lime;
            margin-left: 16px;
            border-radius: 4px;
            color: $light;
            &:hover{
                background-color: $orangeRed;
                transition: all 0.3s ease;
            }
        }
    }
}